p{
    background-color: rgb(220, 235, 165);
}

a{
    background-color: rgb(216, 77, 77);
}

div{
    background-color: rgb(151, 151, 211);
}

span{
    background-color: rgb(240, 158, 158);
}